<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <input type="button" id="hw" value="Hello world" />
    <script type="text/javascript">
      name = "HYOJUNG";
      document.write("hello " + name);
      result = (1==1);

      var hw = document.getElementById('hw');

      if(result){
        password = prompt("비밀번호");
        if(password == 1234) {
          document.write("Welcome!");
        }
        else{
          document.write("ERROR!");
        }
      }
      else{
        hw.addEventListener('click', function(){
          alert("I'm sorry!\n");
        })
      }
    </script>
  </body>
</html>
