{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body>
  <header>
    <h1><a href="http://127.0.0.1:8000/">PetSitter</a></h1>
  </header>
  <nav>
    <ol>
      <li><a href="http://127.0.0.1:8000/pet_sitter">PetSitter?</a></li>
      <li><a href="http://127.0.0.1:8000/pet_search">펫시터검색</a></li>
      <li><a href="http://127.0.0.1:8000/pet_ask">문의하기</a></li>
    </ol>
  </nav>

</body>
</html>
