{% load staticfiles %}
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
</head>
<body id="target">
  <header>
    <h1><a href="http://127.0.0.1:8000/">PetSitter</a></h1>
  </header>
  <nav>
    <ol>
      <li><a href="http://127.0.0.1:8000/pet_sitter">PetSitter?</a></li>
      <li><a href="http://127.0.0.1:8000/pet_search">펫시터검색</a></li>
      <li><a href="http://127.0.0.1:8000/pet_ask">문의하기</a></li>
    </ol>
  </nav>
  <div id="control">
    <input type="button" value="white" onclick="document.getElementById('target').className='white'"/>
    <input type="button" value="black" onclick="document.getElementById('target').className='black'"/>
  </div>
  <article>
    <h2>변수와 상수</h2>
    변수란
    <ul>
      <li>변하는 값</li>
      <li>x=10일 때 왼쪽항인 x는 오른쪽 항인 10에 따라 다른 값이 지정된다.</li>
    </ul>
    상수란
    <ul>
      <li>변하지 않는 값</li>
      <li>x=10일 때 오른쪽 항인 10이 상수가 된다</li>
    </ul>
  </article>
</body>
</html>
